html {
    font-size: 10px;
    font-family:'Marcellus SC', serif;
  }
  
  body {
    margin: 0;
    font-family:'Marcellus SC', serif;  
    text-align: center;
    background-color: rgba(20, 21, 25);
    color: snow;
  }
  
  body::before {
    content: '';
    position: fixed;
    background-position: bottom right;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
    background: var(#F8F1E7);
    background-image: linear-gradient(180deg, rgba(67, 69, 79, 0.7), rgba(20, 21, 25)), url(https://image.freepik.com/free-photo/assorted-indian-recipes-food-various_79295-7226.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #header {
    margin: 0;
    padding: 20px 20px 10px 20px;
    font-family:'Marcellus SC', serif;
  }
  
  #title {
    margin: 0;
    font-size: 4rem;
    font-family:'Marcellus SC', serif;
  }
  
  #description {
    font-size: 1rem;
    font-style: italic;
  }
  
  #survey-form{
    margin: 10px;
    padding: 30px;
    font-size: 2rem;
    text-align: left;
    font-family:'Marcellus SC', serif;
  }
  
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .question-box {
    margin: 40px 0;
    display: block;
  }
  
  .form-element {
    display: block;
    width: 100%;
    border-radius: 8px;
  }
  
  .question {
    margin: 0;
  }
  
  .radio-input, 
  .checkbox-input {
    display: inline-block;
    margin-right: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  #submit {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
    background: #6FCF97;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #container {
    margin: auto;
  }
  
  @media (min-width: 576px) {
    #container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    #container {
      max-width: 720px;
    }
  }